@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:wght@400;500;600&display=swap');

body{
	margin: -5px;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#menu{
	width: 101%;
	height: 70px;
	background-color: #00122c;
	background-image: linear-gradient(to right, rgba(98, 0, 255, 0.118), rgba(0, 247, 255, 0.111));
	position: fixed;
	z-index: 2;
}

#banner{ 
	background-image: linear-gradient(135deg, rgba(153,0,255,0.3) 30%, rgba(29,56,253,0.3) 50%, rgba(69,251,252,0.3) 100%), url(../imagens/corona.jpg); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	width: 100%;
}

#box_texto_menu{
	margin-left: 30px;
	width: 30%;
	height: 100%;
	float: left;
	align-items: center;
	justify-content: left;
	display: flex;
	font-size: 90%;
	font-family: 'Outfit', sans-serif;
	color: whitesmoke
}

#box_link_menu{
	width: 45%;
	height: 100%;
	float: right;
	position: relative;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
	display: flex;

}

.li_menu{
	display: inline-block;
}
.li_menu a{
	color: whitesmoke;
	display: inline-block;
	padding: 0 20px;
	margin: 0 20px;
	text-decoration: none;
}

.link_pag:after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: whitesmoke;
	transition: 0.2s;
}

.link_pag:hover::after{
	width: 100%;
	transition: 0.2s;
}


#conteudo1{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 2550px;
	background-color: white;
}

#conteudo1_impactos{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4100px;
	background-color: white;
}

#conteudo1_cuidados{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 3200px;
	background-color: white;
}

.container_conteudo1{
	width: 70%;
	height: 2450px;
}

#rodape{
	height: 100px;
	width: 100%;
	background-color: #00122c;
	background-image: linear-gradient(to top, rgba(98, 0, 255, 0.1), rgba(0, 247, 255, 0));
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: -55px;
}

.box_h1_banner{
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	height: 500px;
	margin-right: 80px;
}

.h1_banner{
	text-align: right;
	font-size: 55px;
	color: white;
	font-family: 'Outfit', sans-serif;
	font-weight: bolder;
}

#conteudo2{
	height: 800px;
}

.divisoria_conteudo2{
	height: 70px;
	width: 100%;
	padding-top: 6px;
	margin-bottom: 50px;
}

.box_conteudo2{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 500px;

}

.container_conteudo2{
	height: 350px;
	width: 27%;
	background-color: #00122c;
	background-image: linear-gradient(to top right, rgba(98, 0, 255, 0.2) , rgba(0, 247, 255, 0.2) );
	filter: drop-shadow( 0px 0px 15px rgb(158, 158, 158));
	margin: 50px 0px;
	border-radius: 7px;
}

.container_texto_rodape{
	text-decoration: none;
	width: 80%;
	color: whitesmoke;
	
}

.texto_rodape{
	margin-left: 25%;
}

.referencias_rodape{
	text-decoration: none;
	color: whitesmoke;
	width: 20%;
	float: right;
}

#conteudo3{
	height: 900px;
	width: 100%;
	background-color: teal;
	background-image: linear-gradient(to top, rgba(0, 127, 196, 0.5), rgba(0, 247, 255, 0.52));

}

.container_conteudo3{
	height: 550px;
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.referencias_link{
	color: #00122c;
	background-color: whitesmoke;
	border-radius: 7px;
	padding: 3px 6px;
	font-weight: 500;
}


.h1_conteudo1{
	margin-top: 100px;
	padding: 2px;
	background-color: #f9fcff;
	border-radius: 2px;
	font-weight: 500;
}

h3{
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 10px;
}

p{
	text-align: justify;
}

.h1_divisoria{
	text-align: center;
	align-items: center;
	display: flex;
	font-size: 40px;
	font-weight: 600;
	justify-content: center;

}

.container_titulo{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: -90px;

}

.box_titulo{
	width: 70%;
	height: 100px;
	text-align: left;
}

.titulo{
	font-size: 40px;
}

.custom-shape-divider-bottom-1639265541 {
    position: relative;
    bottom: 90px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639265541 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1639265541 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1639270814 {
    position: relative;
    bottom: 55px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639270814 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1639270814 .shape-fill {
    fill: #00122c;
}

.custom-shape-divider-bottom-1639271667 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639271667 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
}

.custom-shape-divider-bottom-1639271667 .shape-fill {
    fill: #00bbc2;
}

.custom-shape-divider-bottom-1639271762 {
    position: relative;
    bottom: 90px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639271762 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1639271762 .shape-fill {
    fill: #FFFFFF;
}

.img_noticia{
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 5% 0;
}

.texto_noticia{
	margin-top: -10%;
	padding: 5%;
	font-size: 16px;
	text-align: justify;
}

.link_noticia{
	color: whitesmoke;
}

.texto_cuidados{
	text-align: justify;
	margin-bottom: 15px;
}

ul{
	margin-left: -10px;
	margin-right: 20px;
}

#conteudo_ref{
	height: 620px;
	background-color: teal;
	background-image: linear-gradient(to top, rgba(0, 127, 196, 0.5), rgba(0, 247, 255, 0.52));

}

.box_ref{
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: flex-end;
	height: 300px;

}

.box_ref_link{
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 170px;
}

.link_ref{
	color: whitesmoke;
	text-decoration: none;
}

.link_ref:hover{
	text-decoration: underline;
}